<h2>{{t 'how_it_works.title'}}</h2>
<ol class="how-it-works">
  {{#each steps as |index|}}
    {{#if (t (concat 'how_it_works.steps.' index))}}
      <li>{{t (concat 'how_it_works.steps.' index)}}</li>
    {{/if}}
  {{/each}}
</ol>
