{{#if card}}
  <p>{{#link-to 'card.messages' card.code 'receive' }}I <strong>got</strong> a card{{/link-to}}</p>
  <p>{{#link-to 'card.messages' card.code 'write' }}I <strong>gave</strong> a card{{/link-to}}</p>
{{/if}}
