<header>
  <div class="container">
    <h1>{{#link-to 'index'}}flatter.cards{{/link-to}}</h1>
  </div>
</header>

<main class="container">
  {{outlet}}
</main>

<footer>
  <div class="container">
    <p>
      <strong>Flatter</strong>.cards {{t 'by'}}
      <a href="http://adriaan.io">Adriaan van Rossum</a>
    </p>
  </div>
</footer>
